.custom-btn {
    border: 0;
    border-radius: 10px;
    padding: 13px 14px;
    background-color: $azure;
    font-size: .875rem;
    font-family: inherit;
    font-weight: 700;
    color: $white-2;
    cursor: pointer
}