#header {
    display: flex;
    justify-content: flex-start;
    padding-top: 18px;
    margin-bottom: 18px;

    .appName {
        flex-grow: 5;  
    }

}


@include tablet {
    #header .appName{
        font-size: 1.625rem;
    }
}