.searchInput {
    border: 0;
    background: transparent;
    flex-grow: 5;
    color: $queen-blue;
    padding-left: 10px;
    font-family: 'Space Mono', monospace;
    font-size: .0.8125rem;
    line-height: 25px;
    outline: transparent;

    


    &::placeholder {
        color: $queen-blue;
        font-family: 'Space Mono', monospace;
        font-size: .0.8125rem;
        line-height: 25px;
    }
}


@include tablet {
    .searchInput, .searchInput::placeholder {
        font-size: 1.125rem;
    }
}