.searchInput {
    border: 0;
    background: transparent;
    flex-grow: 5;



    &::placeholder {
        color: $queen-blue;
        font-family: 'Space Mono', monospace;
        font-size: .0.8125rem;
        line-height: 25px;
    }
}