@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');


* {
    box-sizing: border-box;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5,
h6, 
p, 
button, ul, li {
    margin: 0; 
    padding: 0
}


body {
    font-family: 'Space Mono', monospace;
    font-size: 0.9375rem;
    line-height: 25px;
}


.container{
    background-color: $ghost-white;
    padding: 0 24px;
    min-height: 100vh;
    @include themeTransition;


    footer {
        padding: 10px;
        font-size: .6875rem;
        text-align: center;
    
        a, a:active, a:visited {
            text-decoration: none;
            color: $queen-blue;
        }
    }

    &--dark-theme {
        background-color: $dark-gunmetal;
        color: $white-1;
        @include themeTransition;

        .theme-btn{
            color: $white-1;
        }
        #search-input-group {
            background-color: $yankee-blue;
            @include themeTransition;

            .searchInput, .searchInput::placeholder {
                color: $white-1;
                @include themeTransition;
            }
        }
        .user-card {
            background-color: $yankee-blue;
            @include themeTransition;

            .user-stats {
                background-color: $dark-gunmetal;
                @include themeTransition;
                table th, table td {
                    color: $white-2;
                }
            }

            #name, #date, &__user-description {
                color: $white-1;
            }

            .user-details {
                li {
                    color: $white-2;
                }

                img {
                    filter: brightness(0) invert(1);

                }
            }
        }
    }
}


@include tablet {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        
        > * {
            max-width: 573px;
            width: 100%;
        }

        .user-details ul{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;

            
            #website {
                order: 2
            }
            #company {
                order: 4
            }
        }
    }
}


@include desktop {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

          
        > * {
            max-width: 730px;
            width: 100%;
        }
    }
}

